body {
}

.contenedorPadre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
}

.contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(166deg, rgb(0, 62, 70) 5%, rgb(56, 171, 170) 100%);
    border-radius: 1em;
    margin: 1em;
}

.contenedor2 {
    background: linear-gradient(166deg, rgb(0, 62, 70) 5%, rgb(56, 171, 170) 100%);
    border-radius: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.contenedor3 {
    background: linear-gradient(166deg, rgb(0, 62, 70) 5%, rgb(56, 171, 170) 100%);
    border-radius: 1em;
    margin: 1em;
    height: 21%;
}

.contenedor4 {
    background: linear-gradient(166deg, rgb(0, 62, 70) 5%, rgb(56, 171, 170) 100%);
    border-radius: 1em;
    margin: 1em;
    height: 21%;
}

.direccion {
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: white;
    margin-top: 1em;
    border-radius: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 80%;
}

.formulario {
    background-color: white;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    width: 80%;
    border-radius: 0.6em;
    display: flex;
    align-self: center;
    margin-top: 2em;
}

.contenedorDeOpciones {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin-top: 2em;
    border-radius: 1em;
    height: 35%;
    margin-bottom: 3em;
}

.item1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item1:hover {
    color: rgb(158, 158, 158);
}

.item2:hover {
    color: rgb(158, 158, 158);
}

.item3:hover {
    color: rgb(158, 158, 158);
}

.item4:hover {
    color: rgb(158, 158, 158);
}

.item5:hover {
    color: rgb(158, 158, 158);
}

.contenedorDeOpciones i {
    margin-right: 0.4em;
    font-size: 2em;
}

.iconosTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}


.iconosTop .bi {
    font-size: 1.7em;
}

.bi-envelope-fill {
    margin-right: 1em;
}

.contenedorBlanco1 {
    border-radius: 1em;
    background-color: white;
    height: 100%;
    position: static;
}

.fila1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    align-items: center;
}

h4 {
    height: 2.5em;
    font-size: 1.6em !important;
    width: 80%;
}

.texto1 strong {
    width: 6.5em;
    text-align: start;
}

.cajas {
    justify-content: space-around;
}

.cajaIz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(166deg, rgb(0, 62, 70) 5%, rgb(56, 171, 170) 100%);
    border-radius: 1em;
    border: none;
    color: white;
    width: 40%;
    height: 6em;
}

.cajaDe {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(166deg, rgb(0, 62, 70) 5%, rgb(56, 171, 170) 100%);
    border-radius: 1em;
    border: none;
    color: white;
    width: 40%;
}

.cajas strong {
    font-size: 3em;
}

.a {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.cajaDe p {
    margin-top: 1em;
}

.inputUno {
    display: flex;
    justify-content: end;
    margin: 1.5em;
}

.inputUno1 {
    border: 0.15em solid rgb(112, 179, 255);
    border-radius: 0.5em;
    width: 20%;
    height: 3em;
}

.desplegable {
    border: 0.15em solid rgb(107, 107, 107);
    margin: 1em;
    border-radius: 0.8em;
    width: 90%;
    height: 3.5em;
}

.inputDos {
    display: flex;
    justify-content: end;
    margin: 1.5em;
}

.inputDos2 {
    border: 0.15em solid rgb(107, 107, 107);
    width: 100%;
    height: 30em;
}

.n{
    color: black;
}

.b{
    background-color: white;
}

.c{
    border: 0.15em solid white;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2.5em;
    user-select: none;
  }
  
  /* Hide default HTML checkbox */
  .switch .cb {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #373737;
    border-radius: 0.1em;
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    box-shadow: -0.3em 0 0 0 #373737, -0.3em 0.3em 0 0 #373737,
      0.3em 0 0 0 #373737, 0.3em 0.3em 0 0 #373737, 0 0.3em 0 0 #373737;
  }
  
  .toggle > .left {
    position: absolute;
    display: flex;
    width: 50%;
    height: 88%;
    background-color: #f3f3f3;
    color: #373737;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transform-origin: right;
    transform: rotateX(10deg);
    transform-style: preserve-3d;
    transition: all 150ms;
  }
  
  .left::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(206, 206, 206);
    transform-origin: center left;
    transform: rotateY(90deg);
  }
  
  .left::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(112, 112, 112);
    transform-origin: center bottom;
    transform: rotateX(90deg);
  }
  
  .toggle > .right {
    position: absolute;
    display: flex;
    width: 50%;
    height: 88%;
    background-color: #f3f3f3;
    color: rgb(206, 206, 206);
    right: 1px;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transform-origin: left;
    transform: rotateX(10deg) rotateY(-45deg);
    transform-style: preserve-3d;
    transition: all 150ms;
  }
  
  .right::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(206, 206, 206);
    transform-origin: center right;
    transform: rotateY(-90deg);
  }
  
  .right::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(112, 112, 112);
    transform-origin: center bottom;
    transform: rotateX(90deg);
  }
  
  .switch input:checked + .toggle > .left {
    transform: rotateX(10deg) rotateY(45deg);
    color: rgb(206, 206, 206);
  }
  
  .switch input:checked + .toggle > .right {
    transform: rotateX(10deg) rotateY(0deg);
    color: #ffc400;
  }
  